<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head")%>

<body>
    <%-include("./partials/header")%>
    <main>
       <hr>
       <div class="tercerdiv">
            <div id="bloqueCategorias">
                <h3 >Categorías</h3>
                <nav id='navegacionCategorias'>
                    <ul>
                        <li><a href="#">Niños</a></li>
                        <li><a href="#">Adultos</a></li>
                        <li><a href="#">Deportes</a></li>
                        <li><a href="#">Accesorios</a></li>
                        <li><a href="#">Seguros</a></li>
                    </ul>
                 </nav>
            </div>
            <div id="bloquePromo">
                <img id="fotoPromo" src="images/ahora-12-y-ahora-18.jpg" alt="fotopromo">
            </div>
    
            <div class="informacion">
                <h3>Información de la tienda</h3>
                <p><i class="fas fa-map-marker-alt"></i> Av. La Plata y Rivadavia</p>
                <p>- C.A.B.A. -</p>
                <P>Buenos Aires - Argentina</P>
                <br>
                <p><i class="fas fa-phone-alt"></i> +54-11-30572691</p>
                <br>
                <p><i class="fas fa-clock"></i> Lunes a Viernes</p><br>
                <p> 10 a 18hs</p>
            </div>
  
        </div>
            
        <br>
        
        <hr>
            <h2>Productos que te pueden interesar</h2>
        <hr>
        <section class="interesar">
              
            <article>
                <a href="producto"><img src="/images/bici1.jpg" alt="bicicleta1" width="275px" height="250px"></a>
            </article>
            <article>
                <a href="#"><img src="/images/bici2.jpg" alt="bicicleta2" width="275px" height="250px"></a>
            </article>
            <article>
                <a href="#"><img src="/images/bici3.jpg" alt="bicicleta3" width="275px" height="250px"></a>
            </article>
            <article>
                <a href="#"><img src="/images/bici4.jpg" alt="bicicleta4" width="275px" height="250px"></a>
            </article>
        </section>
          
        <hr>
            <h2>Nuestras Marcas</h2>
        <hr>
  
        <section class="marcas">
              
            <article>
                <a href="#"><img src="/images/felt.jpg" alt="marca-felt" width="275px" height="250px"></a>
            </article>
            <article>
                <a href="#"><img src="/images/fox.jpg" alt="marca-fox" width="275px" height="250px"></a>
            </article>
            <article>
                <a href="#"><img src="/images/pinarello.jpg" alt="marca-pinarello" width="275px" height="250px"></a>
            </article>
            <article>
                <a href="#"><img src="/images/scott.jpg" alt="marca-scott" width="275px" height="250px" >
            </article></a>
        </section>
  
  </main>
 <%-include("./partials/footer")%>

</body>
</html>
