<header>
    <div class="primerdiv">
        <div class="iconosHeader">
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="far fa-envelope"></i></a>
    
        </div>
        <div class="divHeader">
            <% if(typeof userId != 'undefined') { %>
                <a href="/user/profile"><button class="botonesHeader" type="submit">Perfil</button></a>
                <form action="/user/profile" method="POST" class='caja-logout'>
                    <a href="#"><button class="botonesHeader" id="logout" type="submit">Cerrar Sesión</button></a>
                </form>
            <% } else { %>
                <a href="/user/login"><button class="botonesHeader" type="submit">Acceder</button></a>
                <a href="/user/registro"><button class="botonesHeader" type="submit">Registrarse</button></a>
            <% } %>
        </div>
    </div>

    <hr>
    <div class="segundodiv">
        <div class="logo">
        <img id="logo" src="/images/logo.png" alt="logo" >                      
        </div>
        
        <div class="menuMedia">
            <div class="bars"><i class="fas fa-bars"></i></div>
            <div class="search"><input type="text" name="busqueda" id="search"  placeholder="Buscá la bicicleta o accesorio que necesitás"> </div>
        </div>

        <div class="menu">
            
            <a href="/" id="home"><i class="fas fa-home"></i>Home |</a>
            <a href="/producto" id="productos">Productos |</a>
            <a href="/contacto" id="contacto">Contacto  |</a> 
            <a href="#" id="nosotros">Sobre Nosotros</a><br> 
            
            <form action="/producto/search" method="GET" class='caja-form-seach' >
               
                <input id="busqueda" name="search" type="text" placeholder="Buscá la bicicleta o accesorio que necesitás">
                <button id="buscador" type="submit">
                    <div class="fas fa-search"></div>
                </button>
               
            </form>

           <br><br>
        
        </div>
            
        

        <div id="caja-carrito">    
            <a href="/carrito"  ><button id="boton-carrito"><i class="fas fa-shopping-cart"></i>Carrito</button></a>           
           
        </div>
    </div>
</header> 