<header>
    <div class="primerdiv">
        <div class="iconosHeader">
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="far fa-envelope"></i></a>
    
        </div>
        <div class="divHeader">
            <a href="/login"><button class="botonesHeader" type="submit">Acceder</button></a>
            <a href="/registro"><button class="botonesHeader" type="submit">Crear Cuenta</button></a>
        </div>
    </div>

    <hr>
    <div class="segundodiv">
        <div class="logo">
        <img id="logo" src="/images/logo.png" alt="logo" >                      
        </div>
        
        <div class="menuMedia">
            <div class="bars"><i class="fas fa-bars"></i></div>
            <div class="search"><input type="text" name="busqueda" id="search"  placeholder="Busc치 la bicicleta o accesorio que necesit치s"> </div>
        </div>

        <div class="menu">
            
            <a href="/" id="home"><i class="fas fa-home"></i>Home |</a>
            <a href="/producto" id="productos">Productos |</a>
            <a href="#" id="contacto">Contacto  |</a> 
            <a href="#" id="nosotros">Sobre Nosotros</a><br> 
            
            <input type="text" name="busqueda" id="busqueda"  placeholder="Busc치 la bicicleta o accesorio que necesit치s"> <a href="#"><i class="fas fa-search"></i></a><br><br>
        
        </div>
            
        

        <div id="carrito">                
            <a href="/carrito"><i class="fas fa-shopping-cart"></i>Carrito</a>
        </div>
    </div>
</header> 